{% extends "base.html" %}

<title>{% block title %} About Digital Product Management{% endblock%}</title>

{% block body %}
<h2>About Digital Product Management</h2>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste veritatis
  itaque iure at? Animi neque soluta debitis error, voluptates, sit alias sint
  ea delectus reprehenderit magni aperiam, autem magnam consequuntur.
</p>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi voluptates
  aliquid necessitatibus, vitae illum placeat harum sint, quisquam sequi numquam
  fugiat consequatur accusantium autem pariatur quaerat eum commodi cumque quos.
</p>
<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi, officia
  inventore! Aliquam laborum quasi tempora ab accusantium error ipsam, ducimus
  cum natus libero ut? Voluptas consequatur consectetur a voluptatum illo.
</p>

{% endblock %}
